{% extends 'base.html.twig' %}

{% block title %}Edit Product{% endblock %}

{% block body %}
    <main>
    <h1><span>Modifier</span> le produit</h1>
    <div class="form-container">
        {{ include('product/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    </div>

    <a class="back" href="{{ path('product_index') }}">Retour à la liste</a>
</main>
{% endblock %}
