{% extends 'base.html.twig' %}

{% block title %}New Product{% endblock %}

{% block body %}
    
<main>
    <h1><span>Ajouter</span> un produit</h1>
    <div class="form-container">
    {{ include('product/_form.html.twig') }}
    </div>
    
    <a class="back" href="{{ path('product_index') }}">Retour à la liste</a>
</main>

{% endblock %}
