@import "custom.scss";

* {
    margin: 0;
    border: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

html {
    min-height: 100%;
    border: 20px solid black;
}

body {
    background-color: $mainBg;
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2rem;
        .logo {
            font-size: 3rem;
            color: black;
            font-weight: bolder;
            font-style: italic;
            font-family: "Times New Roman", Times, serif;
        }
        .logo:hover {
            color: #383838;
        }
        .logout {
            text-transform: uppercase;
            background-color: #6d2121;
            width: 8rem;
            text-align: center;
            padding: 0.5rem;
            color: white;
            font-weight: bold;
            border: 5px solid black;
        }
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h1 {
            margin: 3rem 0;
            span {
                background-color: black;
                color: white;
                padding: 0.5rem;
            }
        }

        .back {
            color: black;
            text-transform: uppercase;
            font-weight: bold;
            border: 3px solid black;
            padding: 1rem;
            margin-top: 3rem;
        }
        .back:hover {
            color: white;
            background-color: black;
        }

        .form-container {
            border: 8px solid black;
            width: 25%;
            form {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 3rem 0;
                input {
                    border: 8px solid black;
                    height: 3rem;
                    margin: 2rem 0;
                    padding: 0 1rem;
                    text-transform: uppercase;
                    font-weight: bold;
                }
                .btn {
                    background-color: black;
                    padding: 1rem;
                    margin-top: 1rem;
                    color: white;
                    text-transform: uppercase;
                    font-weight: bold;
                    width: 10rem;
                }
                .btn:hover {
                    cursor: pointer;
                    background-color: #383838;
                }
            }
        }

        .empty {
            background-color: #e7e7e7;
            border: 8px solid black;
            width: 60%;
            padding: 3rem;
            text-align: center;
            h2 {
                margin-bottom: 5rem;
            }
            a {
                background-color: black;
                color: white;
                text-transform: uppercase;
                padding: 1rem;
                font-weight: bold;
            }
        }

        .menu {
            display: flex;
            margin-bottom: 2rem;
            form {
                input {
                    height: 3rem;
                    width: 20rem;
                    outline: 5px solid black;
                    padding: 0 1rem;
                    text-transform: uppercase;
                    font-weight: bold;
                }
            }
            a {
                width: 3rem;
                height: 3rem;
                text-align: center;
                outline: 5px solid black;
                color: white;
                font-size: 2.5rem;
                background: #0d371c;
                margin-left: 2rem;
            }
            a:hover {
                background: #28613c;
            }
        }

        .container {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            background-color: #e7e7e7;
            border: 8px solid black;
            margin: 0 10rem;
            margin-bottom: 3rem;
            min-height: 20rem;
            min-width: 60rem;
            justify-content: center;
            align-items: center;
            h2 {
                text-align: center;
            }
            .product {
                width: 10rem;
                margin: 2rem;
                .product-pic {
                    background: white;
                    outline: 8px solid black;
                    width: 10rem;
                    height: 10rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    .bi-image {
                        font-size: 5rem;
                        opacity: 0.5;
                    }
                    h1 {
                        text-align: center;
                    }
                }
                .action {
                    display: flex;
                    justify-content: flex-end;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    margin: 0.5rem;
                    a {
                        color: black;
                        margin-right: 0.5rem;
                    }
                    .btn {
                        font-size: 1rem;
                    }
                    .btn:hover {
                        cursor: pointer;
                    }
                }
                .info {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    text-transform: uppercase;
                    margin: 1rem 0;
                    h3 {
                        width: 80%;
                        font-size: 0.8rem;
                    }
                    h4 {
                        background-color: black;
                        color: white;
                        padding: 0.5rem;
                        height: 1.2rem;
                        width: 5rem;
                        text-align: center;
                        font-size: 0.9rem;
                    }
                }
            }
        }
        .pagination {
            text-align: center;
            margin-bottom: 3rem;
            a {
                border: 5px solid black;
                padding: 1rem;
                margin: 0.5rem;
                font-weight: bold;
                text-decoration: none;
                color: black;
            }
            span.current {
                border: 5px solid black;
                padding: 1rem;
                margin: 0.5rem;
                font-weight: bold;
                text-decoration: none;
                color: black;
                    background: black;
                    color: white;
            }

        }
    }
}
